// Sass que unifica todos los sass elaborados

@import './normalize/reset';
@import './container/grid.scss';
@import './views/queries.scss';
@import './components/navbar';
@import './general/header.scss';
@import './general/text_ppal.scss';
@import './components/contenido.scss';
@import './components/cards.scss';
@import './components/footer.scss';
@import './components/button_index';





