// Sass usando Mixing en el index


@import '../utilities/color.scss';



.botonClientes {

    height: 40px;
    min-width: 100px;
    background: $colorTextPpal;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;

}


@each $llave,
$valor in $mapa {
    .cliente-#{$llave} {
        color: $valor;
    }
}